.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000000;
  width: 100vw;
  position: relative;
  &-title {
    margin-top: 57px;
    margin-bottom: 8px;
  }
  &-team {
    width: 100%;
  }
  .footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 33px;
    .adm-button + .adm-button {
      margin-left: 20px;
    }
  }
}
