.sg-loading {
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
  }
  .loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
  }

  @green: #8aff51;
  @green-lt: lighten(@green, 30%);
  @green-shadow: darken(@green, 30%);
  .title {
    font-family: "DingTalk-JinBuTi";
    font-size: 14px;
    color: #fff;
    letter-spacing: -0.67;
    background-image: linear-gradient(0deg, #ffffffff 0%, #ffffff 100%);
    display: inline-block;
    background-clip: text;
  }

  .delay (@delay) {
    animation-delay: @delay;
  }

  .square (@xy:30px) {
    width: @xy;
    height: @xy;
  }
  .loading-arrow {
    opacity: 1;
    animation-name: loading-pulse;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  #loading-red1 {
    .delay(0.3s);
  }
  #loading-red2 {
    .delay(0.2s);
  }
  #loading-red3 {
    .delay(0.1s);
  }
  #loading-blue1 {
    .delay(0.3s);
  }
  #loading-blue2 {
    .delay(0.2s);
  }
  #loading-blue3 {
    .delay(0.1s);
  }

  @keyframes loading-pulse {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
}
