.colorful-button-wrapper {
  display: flex;
  align-items: center;

  .colorful-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 26px;
    background: #010e2d07;
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .colorful-button {
    position: relative;
    overflow: hidden;
    color: #d9dbdf;
    border-radius: 20px;
    display: flex;

    img {
      height: 26px;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "DingTalk-JinBuTi";
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      color: #ffffffd9;
    }
  }

  .small {
    img {
      width: 62px;
    }

    .colorful-button-content {
      width: 62px;
    }
  }

  .big {
    img {
      width: 68px;
    }

    .colorful-button-content {
      width: 68px;
    }
  }

  .ecg {
    stroke-dasharray: 175;
    stroke-dashoffset: 0;
    animation-name: draw;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dashoffset: 50;
    }

    100% {
      stroke-dashoffset: 350;
    }
  }
}
