.compete {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  position: relative;
  background-image: url("https://mdn.alipayobjects.com/huamei_92awrc/afts/img/A*wW61RJ5rKvYAAAAAAAAAAAAADsvfAQ/original");
  background-size: contain;
  background-color: #020d2e;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;

  &-title {
    /* px-to-viewport-ignore-next */
    margin-top: 57px;
    /* px-to-viewport-ignore-next */
    margin-bottom: 25px;
  }

  &-team {
    width: 100%;
  }

  .footer {
    z-index: 100;
    position: fixed;
    /* px-to-viewport-ignore-next */
    bottom: -100px;
    /* px-to-viewport-ignore-next */
    padding-bottom: 33px;
    width: 100%;
    animation: footer 2.5s ease forwards;

    @keyframes footer {
      100% {
        bottom: 0;
      }
    }

    .button {
      text-align: center;
      position: absolute;
      width: 100%;
      /* px-to-viewport-ignore-next */
      bottom: 40px;
      z-index: 110;
    }

    .tooltip {
      text-align: center;
      /* px-to-viewport-ignore-next */

      margin: 0 20px 20px 20px;
      /* px-to-viewport-ignore-next */

      height: 70px;
      backdrop-filter: blur(10px);

      .sg-tooltip {
        padding-bottom: 30px;
        height: 0px;
      }
    }

    .tooltip::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1.5px;
      z-index: 10;
      background: linear-gradient(
        90deg,
        #ffffff00 3%,
        #ffffff 52%,
        #ffffff00 100%
      );
      opacity: 0.72;
    }

    .sg-btn + .sg-btn {
      margin-left: 20px;
    }

    .adm-button {
      width: 130px;
      /* px-to-viewport-ignore-next */
      height: 42px;
    }
  }

  .light {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 0px;
    margin-left: -70px;
    .light-top {
      animation-delay: 2s;
    }
  }

  .light-side {
    position: absolute;
    top: 35%;
    z-index: 1;
  }

  .light-left {
    /* px-to-viewport-ignore-next */
    left: -110px;
    animation: lightLeft 1s ease 2s forwards;
    transform-origin: top center;
    transform: rotateZ(60deg);
    top: calc(50% - 195px);
  }

  .light-right {
    /* px-to-viewport-ignore-next */
    right: -110px;
    animation: lightRight 1s ease 2s forwards;
    /* px-to-viewport-ignore-next */
    top: calc(50% - 200px);
    transform-origin: top center;
    transform: rotateZ(-60deg);
  }

  @keyframes lightLeft {
    100% {
      transform: rotateZ(0deg);
    }
  }

  @keyframes lightRight {
    100% {
      transform: rotateZ(0deg);
    }
  }

  .compete-playground {
    position: relative;
    flex: 1;
    /* 考虑到安全区域的填充 */
    padding-bottom: calc((60px + env(safe-area-inset-bottom)));

    .compete-graph-container {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      top: -20px;
      /* px-to-viewport-ignore-next */
      height: calc(100% - 140px);
      padding-bottom: env(safe-area-inset-bottom);
      left: 0;
      display: flex;
      flex-direction: column;
      z-index: 9999;

      .compete-graph {
        flex: 1;
        z-index: 9;
      }
    }
  }
}
