.sg-btn {
  transform: skew(-10deg);
  margin-top: -12px;
  display: inline-block;

  .adm-button {
    border: none;
    font-size: 14px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(204, 204, 204, 1) 100%
    );
  }
  .adm-button.adm-button-primary {
    background-image: linear-gradient(
      110deg,
      rgba(22, 119, 255, 1) 6%,
      rgba(20, 60, 219, 1) 94%
    );
  }
  .adm-button > span {
    transform: skew(10deg);
    display: inline-block;
  }
}
