.player-node {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .shirt {
    /* px-to-viewport-ignore-next */
    width: 60px;
    /* px-to-viewport-ignore-next */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    img {
      /* px-to-viewport-ignore-next */
      width: 60px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &-number {
      color: #fff;
      font-family: "DingTalk-JinBuTi";
      /* px-to-viewport-ignore-next */
      font-size: 12px;
      z-index: 1;
      margin-top: 14px;
      /* px-to-viewport-ignore-next */
      margin-left: -6px;
    }
  }
  .label {
    /* px-to-viewport-ignore-next */
    width: 54px;
    /* px-to-viewport-ignore-next */
    height: 15px;
    line-height: 15px;
    color: #fff;
    font-size: 9px;
    background-image: url("https://mdn.alipayobjects.com/huamei_92awrc/afts/img/A*2-NzSbxbZosAAAAAAAAAAAAADsvfAQ/original");
    background-repeat: no-repeat;
    /* px-to-viewport-ignore-next */
    background-size: 54px 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    z-index: 10;

    &-text {
      width: 39px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "DingTalk-JinBuTi";
      white-space: nowrap;
      text-align: center;
      /* px-to-viewport-ignore-next */
      font-size: 8px;
    }
  }
}
