.personal-tacit {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;

  .personal-graph {
    position: relative;
    height: 50vh;
    width: 100%;

    .close {
      position: absolute;
      right: 35px;
      font-size: 20px;
      top: 2%;
      z-index: 999;
    }
  }

  .personal-tacit-graph {
    width: 100%;
    height: 100%;

    #g-canvas-camera {
      overflow: visible !important;
    }
  }

  .player-info {
    background: #010e2d;
    border-radius: 8px;
    position: relative;
    margin: 0 20px 48px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 14px 16px;

    .player {
      display: flex;
      align-items: center;
      height: 30px;
      width: 100%;

      .player-left {
        flex: 1;
        width: 20%;
        padding-right: 5px;
        height: 38px !important;
        display: flex;
        align-items: center;

        .player-node .shirt {
          margin-bottom: 0 !important;
        }
      }

      .player-right {
        width: 80%;
        .name {
          font-size: 10px;
          color: #ffffff8f;
          font-weight: 500;
          line-height: 14px;
          margin-bottom: 2px;
        }

        .en-name {
          font-size: 10px;
          color: #ffffff8f;
          line-height: 14px;
        }
      }
    }

    .description {
      font-size: 14px;
      color: #ffffff;
      line-height: 20px;
      text-align: center;
      font-weight: 600;
      opacity: 0.65;
      margin-top: 14px;
    }
  }

  .player-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5px;
    z-index: 10;
    background: linear-gradient(
      90deg,
      #ffffff00 3%,
      #ffffff 52%,
      #ffffff00 100%
    );
    opacity: 0.72;
  }
}
