.home-page {
  background-color: #1e1e20;
  width: 100vw;
  min-height: 100%;
  background-image: url("https://mdn.alipayobjects.com/huamei_92awrc/afts/img/A*vLZQRY8V5kIAAAAAAAAAAAAADsvfAQ/original");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center top;

  &-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 92px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      display: block;
      content: "";
    }

    &::after {
      content: "";
      bottom: 0;
      left: 0;
      height: 100px;
      position: absolute;
      width: 100%;
      display: block;
      pointer-events: none;
    }

    .indicator {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .indicator-item + .indicator-item {
        margin-left: 6px;
      }

      .indicator-item {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ffffff80;
      }

      .indicator-item-active {
        background-color: #fff;
      }
    }

    &-game {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      padding-bottom: 48px;
      margin-top: 20px;
      position: relative;

      .center-bg {
        position: absolute;
        top: 15px;
      }

      .center-predict,
      .center-vote {
        color: #fff;
        z-index: 1;
      }

      .center-team {
        width: 100%;
      }

      .center-time {
        height: 24px;
        background-color: #00144440;
        color: #aeb4cdd8;
        font-size: 12px;
        line-height: 24px;
        z-index: 1;
        border-radius: 13px;
        padding: 0 12px;
        margin-top: 12px;
      }

      .center-predict {
        display: flex;
        margin-bottom: 16px;

        .predict-left,
        .predict-right {
          display: flex;
          align-items: flex-end;
        }

        .predict-number {
          font-family: "DingTalk-JinBuTi";
          font-size: 48px;
        }

        .predict-left {
          color: #d84a50;
        }

        .predict-right {
          color: #1677ff;
        }

        .percent {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        .predict-vs {
          display: flex;
          align-items: center;
        }
      }

      .center-to-analysis {
        height: auto;
        margin-bottom: 16px;

        .sg-btn-bg {
          height: 24px !important;
        }

        .btn-text {
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .anticon {
          font-size: 10px;
          margin-left: 4px;
        }
      }
    }
  }

  &-list {
    margin-top: 16px;

    .adm-tabs-tab-line {
      background-image: linear-gradient(to right, #1677ff, #143cdb);
    }

    .sg-tabs .adm-tabs-tab {
      font-size: 16px;
      color: #a7abb5;
    }

    .sg-tabs .adm-tabs-header {
      margin-bottom: 8px;
    }

    .adm-tabs-tab-list {
      margin: 0 52px;
    }

    .sg-tabs .adm-tabs-header .adm-tabs-tab-active {
      font-size: 16px;
      color: #d8d8d8;
    }
  }
}
